<section id="contact" class="section">
  <h2>Links & Contact</h2>
  <ul style="list-style: none; padding-left: 0;">
    <li>
      <i class="fas fa-envelope"></i>
      <a href="mailto:sanath@ucsc.edu">sanath@ucsc.edu</a>
    </li>
    <li>
      <i class="fab fa-linkedin"></i>
      <a href="https://www.linkedin.com/in/sagnik-nath-553607a0/">LinkedIn</a>
    </li>
    <li>
      <i class="fas fa-graduation-cap"></i>
      <a href="https://scholar.google.com/">Google Scholar</a>
    </li>
    <li>
      <i class="fab fa-orcid"></i>
      <a href="https://orcid.org/0000-0002-5225-952X">ORCID</a>
    </li>
    <li>
      <i class="fab fa-github"></i>
      <a href="https://github.com/sagniknath91">GitHub</a>
    </li>
  </ul>
</section>
